* {
  background-color: #2c7155;
  margin: 0;
}

h1 {
  color: aliceblue;
  margin: 20px 10px 20px 10px;
  font-size: 4rem;
}

.container1 {
  max-width: 1000px;
  margin: auto;
}

.container1 .cite1 {
  text-align: start;
  padding: 15px;
  background-color: aliceblue;
  border: 5px solid black;
  margin: 10px;
}

.container2 {
  max-width: 1000px;

}

.container2 .cite1 {
  text-align: start;
  padding: 15px;
  background-color: #aa593b;
  border: 5px solid #832702;
  margin: 10px;
  color: aliceblue;
}

.container3 {
  max-width: 1000px;
  margin-left: auto
}

.container3 .cite1 {
  text-align: start;
  padding: 15px;
  background-color: #aa7a3a;
  border: 5px solid #844d03;
  margin: 10px;
  color: aliceblue;
}

.container4 {
  max-width: 1000px;
  margin: auto;
}

.container4 .cite1 {
  text-align: start;
  padding: 15px;
  background-color: #2b506d;
  border: 5px dashed #647f88;
  margin: 10px;
  color: aliceblue;
}